<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <link href="../../Style/easy-autocomplete.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Style/bootstrap.css">
    <link href="../../Style/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="../../Style/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="../../Style/estandar.css" rel="stylesheet" />

    <style>
        .btn-icono {
            background-color: transparent;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border-width: 0;
            outline: none;
        }

            .btn-icono:hover {
                background-color: black;
            }

                .btn-icono:hover i {
                    color: buttonface;
                }

            .btn-icono i {
                font-size: 13px;
            }


        .autocomplete {
            position: relative;
            box-sizing: border-box;
        }

            .autocomplete input {
                padding-left: 35px !important;
            }

            .autocomplete i {
                position: absolute;
                LEFT: 10px;
                color: #343a40;
                font-size: 20px;
                top: 6px;
            }
    </style>
</head>
<body>
    <div class="container-fluid ml-0 mr-0">

        <div class="row p-0">
            <div class="col-12 p-0">
                <header class="mt-1 card-header">
                    <div class="d-lg-flex d-md-flex d-sm-block d-block">
                        <div class="col-lg-6 col-md-4 col-sm-12 col-12">
                            <span class="mt-1" id="HeaderOpcion"></span>
                        </div>
                        <div class="col-lg-6 col-md-8 col-sm-12 col-12">
                            <div class="d-flex  justify-content-end">
                                <div class="">
                                    <span class="mt-1 mr-2 d-lg-block d-md-block d-md-block d-none">Filtro de búsqueda</span>
                                </div>
                                <div class="autocomplete input-group-sm" style="width:350px">
                                    <input type="text" class="form-control" id="buscargrado" placeholder="Buscar por cualquier palabra" onkeyup="buscar_personas(this)">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
        </div>


        <div class="row">

            <table class="table table-hover table-sm " id="tblPersonas">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Correo electrónico</th>
                        <th scope="col">Télefono</th>
                        <th scope="col">Género</th>
                        <th scope="col">RH</th>
                        <th scope="col">EPS</th>
                        <th scope="col">Fecha de nacimiento</th>
                        <th scope="col">Lugar de nacimiento</th>
                        <th scope="col">Dirección</th>
                        <th class="text-center" scope="col"><i class="fas fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody id="tbodyDatos"></tbody>
                <tbody>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="50" class="form-control" id="PerNombres_-1" placeholder="Nombres">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="50" class="form-control" id="PerApellidos_-1" placeholder="Apellidos">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <select class="form-control" id="PerTipoDoc_-1">
                                    <option value="-1">Seleccione</option>
                                    <option class="opcion-docente" value="PP">Pasaporte</option>
                                    <option class="opcion-estudiante" value="RC">Registro civil</option>
                                    <option class="opcion-estudiante" value="TI">Tarjeta de identidad</option>
                                    <option value="CC">Cédula de ciudadanía</option>
                                    <option class="opcion-docente" value="CE">Cédula de extranjería</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="20" class="form-control" id="PerDocumento_-1" placeholder="Documento" onkeypress="return only_number(event)">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="50" class="form-control" id="PerEmail_-1" placeholder="Correo electrónico">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="50" class="form-control" id="PerTelefono_-1" placeholder="Teléfono" onkeypress="return only_number(event)">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <select class="form-control" id="PerGenero_-1">
                                    <option value="F" selected>Femenino</option>
                                    <option value="M">Masculino</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <!--<input type="text" maxlength="5" class="form-control" id="PerRH_-1" placeholder="RH">-->

                                <select class="form-control" id="PerRH_-1">
                                    <option value="-1">Seleccione</option>                                    
                                    <option value="A-">A-</option>
                                    <option value="A+">A+</option>
                                    <option value="B-">B-</option>
                                    <option value="B+">B+</option>
                                    <option value="AB-">AB-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="O-">O-</option>
                                    <option value="O+">O+</option>
                                </select>

                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="50" class="form-control" id="PerEPS_-1" placeholder="EPS">
                            </div>
                        </td>
                        <td>
                            <div class="input-group  input-group-sm">
                                <input type="text" maxlength="15" class="form-control" id="PerFechanacimiento_-1" placeholder="Fecha de nacimiento">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span>
                                </div>
                            </div>

                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="20" class="form-control" id="PerLugarNacimiento_-1" placeholder="Lugar de nacimiento">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="50" class="form-control" id="PerDireccion_-1" placeholder="Dirección">
                            </div>
                        </td>
                        <td class="text-center">
                            <button class="btn-icono" onclick="guardar_cambios()" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar"><i class="fas fa-plus text-success"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <script src="../../Script/Librerias/jquery-3.5.0.min.js"></script>
    <script src="../../Script/Librerias/bootstrap.min.js"></script>
    <script src="../../Script/Librerias/moment.js"></script>

    <script src="../../Script/Librerias/bootstrap-datepicker.min.js"></script>
    <script src="../../Script/Librerias/es.js"></script>
    <script src="../../Script/Librerias/jquery.easy-autocomplete.min.js"></script>
    <script src="../../Script/Librerias/jquery.floatThead.js"></script>
    <script src="../../Script/Librerias/plugin-colegios.js"></script>
    <script src="../../Script/AreaPersonal/ListadoPersonas.js"></script>
</body>
</html>