<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <link href="../../Style/easy-autocomplete.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Style/bootstrap.css">
    <link href="../../Style/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="../../Style/estandar.css" rel="stylesheet" />

    <style>
        /*tbody input {
            width: 180px !important;
        }*/
    </style>
</head>
<body>
    <div class="container-fluid ">

        <div class="row">

            <table class="table table-hover table-sm " id="tblPersonas">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Tipo documento</th>
                        <th scope="col">Documento</th>
                        <th scope="col">Correo electronico</th>
                        <th scope="col">Telefono / Celular</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Tipo de sangre</th>
                        <th scope="col">EPS</th>
                        <th scope="col">Fecha de nacimiento</th>
                        <th scope="col">Lugar de nacimiento</th>
                        <th scope="col">Direccion</th>
                    </tr>
                </thead>
                <tbody id="tbodyDatos"></tbody>
                <tbody>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="20" class="form-control" id="GraCodigo_-1" placeholder="Código a manejar">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="20" class="form-control" id="GraCodigo_-1" placeholder="Código a manejar">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="20" class="form-control" id="GraCodigo_-1" placeholder="Código a manejar">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="20" class="form-control" id="GraCodigo_-1" placeholder="Código a manejar">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="20" class="form-control" id="GraCodigo_-1" placeholder="Código a manejar">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="20" class="form-control" id="GraCodigo_-1" placeholder="Código a manejar">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="20" class="form-control" id="GraCodigo_-1" placeholder="Código a manejar">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="20" class="form-control" id="GraCodigo_-1" placeholder="Código a manejar">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="20" class="form-control" id="GraCodigo_-1" placeholder="Código a manejar">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="20" class="form-control" id="GraCodigo_-1" placeholder="Código a manejar">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="20" class="form-control" id="GraCodigo_-1" placeholder="Código a manejar">
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <input type="text" maxlength="20" class="form-control" id="GraCodigo_-1" placeholder="Código a manejar">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <script src="../../Script/Librerias/jquery-3.5.0.min.js"></script>
    <script src="../../Script/librerias/bootstrap.min.js"></script>
    <script src="../../Script/Librerias/moment.js"></script>
    <script src="../../Script/Librerias/jquery.easy-autocomplete.min.js"></script>
    <script src="../../Script/Librerias/jquery.floatThead.js"></script>
    <script src="../../Script/Librerias/plugin-colegios.js"></script>
    <script src="../../Script/AreaPersonal/ListadoPersonas.js"></script>
</body>
</html>