<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="es">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="description" content="comunicacion de colegios" />
    <meta name="author" content="Jhonnatan Andres Urueña Diaz" />


    <title>Inicio</title>
    <link href="../../Style/easy-autocomplete.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Style/bootstrap.css">
    <link href="../../Style/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="../../Style/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="../../Style/estandar.css" rel="stylesheet" />

    <style>
        body,
        input,
        select {
            font-size: 13px !important;
        }
        
        .custom-control-label {
            padding-top: 3px;
        }
        
        .estudiante,
        .profesor {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container container-sm mt-2 ">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header p-1">
                        Información personal
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="PerNombres">Nombres</label>
                                    <input type="text" class="form-control " id="PerNombres" placeholder="Nombres">
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="PerApellidos">Apellidos</label>
                                    <input type="text" class="form-control " id="PerApellidos" placeholder="Apellidos">
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="PerEPS">EPS</label>
                                    <input type="text" class="form-control " id="PerEPS" placeholder="EPS">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="PerNombres">Tipo de documento</label>
                                    <select class="form-control" id="PerTipoDoc_-1">
                                        <option value="-1">Seleccione</option>
                                        <option class="opcion-docente" value="PP">Pasaporte</option>
                                        <option class="opcion-estudiante" value="RC">Registro civil</option>
                                        <option class="opcion-estudiante" value="TI">Tarjeta de identidad</option>
                                        <option value="CC">Cédula de ciudadanía</option>
                                        <option class="opcion-docente" value="CE">Cédula de extranjería</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="PerDocumento">Documento</label>
                                    <input type="text" onkeypress="return only_number(event)" class="form-control " id="PerDocumento" placeholder="Documento">
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="PerEmail">Correo electrónico</label>
                                    <input type="text" class="form-control " id="PerEmail" placeholder="Correo electrónico">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="PerNombres">Género</label>
                                    <div class="d-flex">
                                        <div class="custom-control custom-radio ">
                                            <input type="radio" value="F" id="customRadio2" name="customGenero" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio2">Femenino</label>
                                        </div>
                                        <div class="custom-control custom-radio ml-4">
                                            <input type="radio" value="M" id="customRadio1" name="customGenero" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio1">Masculino</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="PerTelefono">Teléfono</label>
                                    <input type="text" class="form-control " onkeypress="return only_number(event)" id="PerTelefono" placeholder="Teléfono">
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="PerRH">Tipo de sangre</label>
                                    <select class="form-control" id="PerRH">
                                        <option value="-1">Seleccione</option>
                                        <option value="A-">A-</option>
                                        <option value="A+">A+</option>
                                        <option value="B-">B-</option>
                                        <option value="B+">B+</option>
                                        <option value="AB-">AB-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="O-">O-</option>
                                        <option value="O+">O+</option>
                                    </select>
                                    <!--<input type="text" class="form-control " id="PerRH" placeholder="Tipo de sangre">-->
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">

                                    <div class="form-group input-group-sm">
                                        <label for="PerFechanacimiento">Fecha de nacimiento</label>
                                        <input type="text" onkeypress="return only_number(event)" class="form-control " id="PerFechanacimiento" placeholder="Fecha de nacimiento">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="PerLugarNacimiento">Lugar de nacimiento</label>
                                    <input type="text" class="form-control " id="PerLugarNacimiento" placeholder="Lugar de nacimiento">
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="PerDireccion">Dirección</label>
                                    <input type="text" class="form-control " id="PerDireccion" placeholder="Dirección">
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-2 estudiante">
                <div class="card" id="infoacademica">
                    <div class="card-header p-1">Información Académica</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="PerNombres">Grado</label>
                                    <input type="text" disabled readonly="readonly" class="form-control " id="NombreCurso">

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="PerNombres">Curso</label>
                                    <input type="text" disabled readonly="readonly" class="form-control " id="NombreGrado">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-2 estudiante">
                <div class="card">
                    <div class="card-header p-1 ">
                        Información de acudientes
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-12">
                                <strong>Madre</strong>
                                <hr class="m-2 ml-0 mr-0 p-0" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="EstNombresMama">Nombres</label>
                                    <input type="text" class="form-control " id="EstNombresMama" placeholder="Nombres de la madre">
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="EstApellidosMama">Apellidos</label>
                                    <input type="text" class="form-control " id="EstApellidosMama" placeholder="Apellidos de la madre">

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="EstTelefonoMama">Teléfono</label>
                                    <input type="text" onkeypress="return only_number(event)" class="form-control " id="EstTelefonoMama" placeholder="Teléfono">

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="EstEmpresaMama">Empresa</label>
                                    <input type="text" onkeypress="return only_number(event)" class="form-control " id="EstEmpresaMama" placeholder="Empresa">

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="EstCargoMama">Cargo</label>
                                    <input type="text" onkeypress="return only_number(event)" class="form-control " id="EstCargoMama" placeholder="Cargo">
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="EstTeleEmpresaMama">Teléfono empresa</label>
                                    <input type="text" onkeypress="return only_number(event)" class="form-control " id="EstTeleEmpresaMama" placeholder="Teléfono empresa">

                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12">
                                <strong>Padre</strong>
                                <hr class="m-2 ml-0 mr-0 p-0" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="EstNombresPapa">Nombres</label>
                                    <input type="text" class="form-control " id="EstNombresPapa" placeholder="Nombres del padre">

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="EstApellidosPapa">Apellidos</label>
                                    <input type="text" class="form-control " id="EstApellidosPapa" placeholder="Apellidos del padre">

                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="EstTelefonoPapa">Teléfono </label>
                                    <input type="text" class="form-control " onkeypress="return only_number(event)" id="EstTelefonoPapa" placeholder="Teléfono">

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="EstEmpresaPapa">Empresa</label>
                                    <input type="text" onkeypress="return only_number(event)" class="form-control " id="EstEmpresaPapa" placeholder="Empresa">

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="EstCargoPapa">Cargo</label>
                                    <input type="text" onkeypress="return only_number(event)" class="form-control " id="EstCargoPapa" placeholder="Cargo">
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="EstTeleEmpresaPapa">Teléfono empresa</label>
                                    <input type="text" onkeypress="return only_number(event)" class="form-control " id="EstTeleEmpresaPapa" placeholder="Teléfono empresa">

                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12">
                                <strong>Acudiente</strong>
                                <hr class="m-2 ml-0 mr-0 p-0" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="EstNombresAcuediente">Nombres</label>
                                    <input type="text" class="form-control " id="EstNombresAcuediente" placeholder="Nombres acudiente">

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="EstApellidosAcudiente">Apellidos</label>
                                    <input type="text" class="form-control " id="EstApellidosAcudiente" placeholder="Apellidos del acudiente">

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="EstTelefonoAcudiente">Teléfono </label>
                                    <input type="text" class="form-control " onkeypress="return only_number(event)" id="EstTelefonoAcudiente" placeholder="Teléfono">

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="EstEmpresaAcudiente">Empresa</label>
                                    <input type="text" class="form-control " id="EstEmpresaAcudiente" placeholder="Empresa">

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="EstCargoAcudiente">Cargo</label>
                                    <input type="text" class="form-control " id="EstCargoAcudiente" placeholder="Cargo">
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="EstTeleEmpresaAcudiente">Teléfono empresa</label>
                                    <input type="text" onkeypress="return only_number(event)" class="form-control " id="EstTeleEmpresaAcudiente" placeholder="Teléfono empresa">

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-2 profesor">
                <div class="card">
                    <div class="card-header p-1">
                        Información Laboral
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="PerNombres">Profesión</label>
                                    <input type="text" class="form-control " id="ProfProfesion" placeholder="Profesión">

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                                <div class="form-group input-group-sm">
                                    <label for="PerNombres">Área de especialidad</label>
                                    <select class="form-control" id="ProfEspacialidad"></select>

                                    <!--<input type="text" class="form-control " id="ProfEspacialidad" placeholder="Área de especialidad">-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                <div class="row d-flex justify-content-end">
                    <div class="form-group p-3 sleep-email text-right">
                        <button type="button" class="btn btn-block btn-outline-primary" onclick="guardar_cambios()">
                            Guardar cambios
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script src="../../Script/Librerias/jquery-3.5.0.min.js"></script>
    <script src="../../Script/Librerias/bootstrap.min.js"></script>
    <script src="../../Script/Librerias/moment.js"></script>
    <script src="../../Script/Librerias/bootstrap-datepicker.min.js"></script>
    <script src="../../Script/Librerias/es.js"></script>
    <script src="../../Script/Librerias/jquery.easy-autocomplete.min.js"></script>
    <script src="../../Script/Librerias/jquery.floatThead.js"></script>
    <script src="../../Script/Librerias/plugin-colegios.js"></script>
    <script src="../../Script/AreaPersonal/Personas.js"></script>
</body>

</html>