<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="es">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="description" content="comunicacion de colegios" />
    <meta name="author" content="Jhonnatan Andres Urueña Diaz" />
    <title>Inicio</title>
    <!--<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Style/bootstrap.css">
    <link href="../../Style/document-list.css" rel="stylesheet" />
    <link href="../../Style/list-user.css" rel="stylesheet" />
    <link href="../../Style/file.css" rel="stylesheet" />
    <title>documentacion</title>
    <style>


        body {
            background: white !important;
        }

        .m-widget4__ext {
            display: flex !important;
            width: 295px;
        }

            .m-widget4__ext .btn-sm {
                margin: 0 5px;
            }

        .list-group-item {
            cursor: pointer;
        }

        .actived {
            background: #f4f7f6;
        }

        .list-group-item {
            padding: 0.3rem 1.25rem;
        }

        .hover .icon {
            padding: 0 5px;
        }

        .modal-fullscreen {
            width: 100vw;
            max-width: none;
            height: 100%;
            margin: 0;
        }

            .modal-fullscreen .modal-content {
                height: 100%;
                border: 0;
                border-radius: 0;
            }

        @media (min-width: 576px) {

            .modal-dialog {
                max-width: 100%;
                margin: 10px;
            }
        }

        .modal-content {
            height: calc(100vh - 22px);
        }


        .btn-close {
            outline: none;
            background: white;
            border: none;
        }
    </style>
</head>
<body>
    <div class="container-fluid mt-2">
        <div class="d-flex justify-content-center">
            <div class="col-8 pt-2">
                <div class="input-group input-group-sm">
                    <button type="submit" class="btn btn-primary btn-sm" onclick="regresar()">
                        <i class="fa fa-arrow-left mr-2"></i>Regresar
                    </button>
                    <input type="text" maxlength="30" onkeyup="buscarKeyPress()" class="form-control ml-2" id="txtdocumento" placeholder="Buscar documento requerido">
                    <div class="custom-control custom-switch ml-1">

                        <input type="checkbox" class="custom-control-input" onclick="verFaltantes()" id="customSwitch" />
                        <label class="custom-control-label" for="customSwitch">mostrar faltantes</label>
                    </div>
                </div>
            </div>

        </div>
        <hr />
        <div class="d-flex justify-content-center">
            <div class="m-widget4">
                <div class="m-widget4__item">
                    <div class="m-widget4__img m-widget4__img--pic">
                        <img src="../../Img/kid.png" alt="">
                    </div>
                    <div class="m-widget4__info" style="line-height: 12px;">
                        <span class="m-widget4__title" id="nombreEstudiante">
                        </span>
                        <br>
                        <span class="m-widget4__sub" id="nombreGradoEstudiante">
                        </span>
                    </div>


                </div>
            </div>

        </div>
        <div class="row p-1 pt-3" style="background: #f4f7f6">
            <div class="col-2">
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start actived">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Documentos</div>
                            <small class="text-muted" id="docPendientes"> </small>
                        </div>

                    </li>

                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Contrato escolar</div>
                            <small class="text-muted">pendiente</small>
                        </div>

                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Pagaré</div>
                            <small class="text-muted">pendiente</small>
                        </div>

                    </li>

                </ol>
            </div>
            <div class="col-10">
                <div id="main-content" class="file_manager">

                    <div class="row clearfix" id="CardAdjunto">


                        <div class="w-100 text-center">

                            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="d-none">
        <input type="file" id="subirAdjunto" onchange="subirAdjunto('subirAdjunto')" />
        <a href="#" id="adescarga"></a>
    </div>


    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Visor de documentos</h5>
                    <button type="button" onclick="cerrarmodal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3 " id="arvivosModal">







                        </div>
                        <div class="col-9">
                            <div style="overflow: auto; max-height: calc(100vh - 112px)">
                                <div id="dvImage" class="OcultaImagen" style="display:none">
                                    <div style="border-bottom:1px solid #2881ba;margin-bottom:10px">
                                        <h4 style="color:var(--bs-primary)"> Visualización </h4>
                                    </div>
                                    <img id="ImgMostrar" src="" /><hr />
                                </div>
                                <div class="OcultaPdf" id="dvPdf" style="display:none">
                                    <div style="border-bottom:1px solid #2881ba;margin-bottom:10px">
                                        <h4 style="color:var(--bs-primary)"> Visualización </h4>
                                    </div>
                                    <embed style="height: calc(100vh - 142px); width: calc(100vw - 330px) "
                                           id="FrmMostrar"
                                           type="application/pdf"
                                           src="data:application/pdf;base64,pdf" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    
    <script src="../../Script/Librerias/jquery-3.5.0.min.js"></script>
    <script src="../../Script/Librerias/bootstrap.min.js"></script>
    <script src="../../Script/Librerias/moment.js"></script>
    <script src="../../Script/Librerias/jquery.easy-autocomplete.min.js"></script>
    <script src="../../Script/Librerias/jquery.floatThead.js"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="../../Script/Librerias/plugin-colegios.js"></script>
    <script src="../../Script/documentos/docEstudiante.js"></script>
</body>
</html>