<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <!--<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">-->
    <link href="../../Style/easy-autocomplete.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Style/bootstrap.css">
    <link href="../../Style/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="../../Style/estandar.css" rel="stylesheet" />
</head>
<body>


    <script src="../../Script/Librerias/jquery-3.5.0.min.js"></script>
    <script src="../../Script/librerias/bootstrap.min.js"></script>
    <script src="../../Script/Librerias/moment.js"></script>
    <script src="../../Script/Librerias/jquery.easy-autocomplete.min.js"></script>
    <script src="../../Script/Librerias/jquery.floatThead.js"></script>
    <script src="../../Script/Librerias/plugin-colegios.js"></script>

</body>
</html>