<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="../../Style/bootstrap.css">
    <link href="../../Style/jquery.datetimepicker.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="row p-5">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type="text" class="form-control" name="search-to-date" id="datetimepicker4" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="../../Script/Librerias/jquery-3.5.0.min.js"></script>
    <script src="../../Script/Librerias/bootstrap.min.js"></script>
    <script src="../../Script/Librerias/moment.js"></script>
    <script src="../../Script/Librerias/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker4').datetimepicker();
        });
    </script>
</body>
</html>