<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="../../Style/easy-autocomplete.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Style/bootstrap.css">
    <link href="../../Style/fontawesome/css/all.min.css" rel="stylesheet" />


    <style>
        body, input {
            font-size: 13px !important;
        }

        i {
            cursor: pointer;
        }



        [contenteditable=true] {
            outline: none;
        }

            [contenteditable=true]:focus, [contenteditable=true]:active {
                border-bottom: 1px solid #369;
            }

        .table th, .table td {
            padding: 5px;
        }

        .btn-icono {
            background-color: transparent;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            border-width: 0;
            outline: none;
        }

            .btn-icono:hover {
                background-color: black;
            }

                .btn-icono:hover i {
                    color: buttonface;
                }

            .btn-icono i {
                font-size: 13px;
            }


        .icon-tab {
            font-size: 17px;
            color: #666;
        }

        .autocomplete {
            position: relative;
            box-sizing: border-box;
        }

            .autocomplete input {
                padding-left: 35px !important;
            }

            .autocomplete i {
                position: absolute;
                z-index: 2;
                LEFT: 10px;
                color: #343a40;
                font-size: 20px;
                top: 6px;
            }
    </style>
</head>
<body>

    <div class="container container-sm mt-2 ">

        <div class="row">


            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-11 bg-white rounded">

                <div class="row">



                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-sm" id="countries" />
                    </div>


                    <div class="col-12">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Temporada" role="tab" aria-controls="home" aria-selected="true"><i class="fas fa-graduation-cap mr-2"></i>Temporada</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Grados" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-user-graduate mr-2"></i>Grados</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Cursos" role="tab" aria-controls="contact" aria-selected="false" onclick="ver_cursos()"><i class="fas fa-graduation-cap mr-2"></i>Cursos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Salones" role="tab" aria-controls="profile" aria-selected="false">Salones</a>
                            </li>


                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="Temporada" role="tabpanel" aria-labelledby="Temporada-tab">
                                <div class="row d-flex">
                                    <div class="col-xl-9 col-lg-8 col-md-12 order-lg-1 order-md-2 order-sm-2 order-2">
                                        <table class="table table-hover table-sm mt-4">

                                            <thead>
                                                <tr>
                                                    <th scope="col">Temporada</th>
                                                    <th scope="col">Estado</th>
                                                    <th scope="col" class="text-center">Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbltemporada"></tbody>
                                            <tbody class="bg-light">
                                                <tr>
                                                    <td colspan="2">
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" maxlength="5" onkeypress='return only_number(event)' class="form-control" id="TempAno_-1" placeholder="Nueva temporada escolar">
                                                        </div>
                                                    </td>

                                                    <td class="text-center">
                                                        <button class="btn-icono" onclick="agregar_temporada()" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar"><i class="fas fa-plus text-success"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-xl-3 col-lg-4 col-md-12 mt-4 order-lg-2 order-md-1 order-sm-1 order-1 rounded">
                                        <span>Filtro de búsqueda</span>
                                        <div class="autocomplete input-group-sm">
                                            <input type="text" class="form-control" id="buscartemporada" placeholder="Buscar por temporada" onkeyup="buscar_temporada(this)">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <div class="tab-pane fade show" id="Grados" role="tabpanel" aria-labelledby="Grados-tab">
                                <div class="row d-flex">
                                    <div class="col-xl-9 col-lg-8 col-md-12 order-lg-1 order-md-2 order-sm-2 order-2">
                                        <table class="table table-hover table-sm mt-4">

                                            <thead>
                                                <tr>
                                                    <th scope="col">Código</th>
                                                    <th scope="col">Descripción</th>
                                                    <th scope="col" class="text-center">Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblgrados"></tbody>
                                            <tbody class="bg-light">
                                                <tr>
                                                    <td>
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" maxlength="20" class="form-control" id="GraCodigo_-1" placeholder="Código a manejar">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" maxlength="50" class="form-control" id="GraDescripcion_-1" placeholder="Descripción">
                                                        </div>
                                                    </td>

                                                    <td class="text-center">
                                                        <button class="btn-icono" onclick="agregar_grados()" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar"><i class="fas fa-plus text-success"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-xl-3 col-lg-4 col-md-12 mt-4 order-lg-2 order-md-1 order-sm-1 order-1 rounded">
                                        <span>Filtro de búsqueda</span>
                                        <div class="autocomplete input-group-sm">
                                            <input type="text" class="form-control" id="buscargrado" placeholder="Buscar por código o descripcion" onkeyup="buscar_grados(this)">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade show" id="Cursos" role="tabpanel" aria-labelledby="Cursos-tab">
                                <div class="row d-flex">
                                    <div class="col-xl-9 col-lg-8 col-md-12 order-lg-1 order-md-2 order-sm-2 order-2">
                                        <table class="table table-hover table-sm mt-4">

                                            <thead>
                                                <tr>
                                                    <th scope="col">Temporada</th>
                                                    <th scope="col">Código</th>
                                                    <th scope="col">Descripción</th>
                                                    <th scope="col">Tutor</th>
                                                    <th scope="col" class="text-center">Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblcursos"></tbody>
                                            <tbody class="bg-light">
                                                <tr>
                                                    <td>
                                                        <select class="form-control form-control-sm" id="CurTemporada_-1"></select>

                                                    </td>
                                                    <td>
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" maxlength="20" class="form-control" id="CurCodigo_-1" placeholder="Código a manejar">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" maxlength="20" class="form-control" id="CurDescripcion_-1" placeholder="Descripción">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" maxlength="50" class="form-control" id="CurTutor_-1" placeholder="tutor">
                                                        </div>
                                                    </td>

                                                    <td class="text-center">
                                                        <button class="btn-icono" onclick="agregar_curso()" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar"><i class="fas fa-plus text-success"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-xl-3 col-lg-4 col-md-12 mt-4 order-lg-2 order-md-1 order-sm-1 order-1 rounded">
                                        <span>Filtro de búsqueda</span>
                                        <div class="autocomplete input-group-sm">
                                            <input type="text" class="form-control" id="buscarcurso" placeholder="Buscar cualquier palabra" onkeyup="buscar_cursos(this)">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade show" id="Salones" role="tabpanel" aria-labelledby="Salones-tab">

                                <div class="row d-flex">
                                    <div class="col-xl-9 col-lg-8 col-md-12 order-lg-1 order-md-2 order-sm-2 order-2">
                                        <table class="table table-hover table-sm mt-4">

                                            <thead>
                                                <tr>
                                                    <th scope="col">Código</th>
                                                    <th scope="col">Descripción</th>
                                                    <th scope="col" class="text-center">Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tblsalones"></tbody>
                                            <tbody class="bg-light">
                                                <tr>
                                                    <td>
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" maxlength="20" class="form-control" id="SalCodigo_-1" placeholder="Código a manejar">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="input-group input-group-sm">
                                                            <input type="text" maxlength="50" class="form-control" id="SalDescripcion_-1" placeholder="Descripción">
                                                        </div>
                                                    </td>

                                                    <td class="text-center">
                                                        <button class="btn-icono" onclick="agregar_salon()" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar"><i class="fas fa-plus text-success"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                    <div class="col-xl-3 col-lg-4 col-md-12 mt-4 order-lg-2 order-md-1 order-sm-1 order-1 rounded">
                                        <span>Filtro de búsqueda</span>
                                        <div class="autocomplete input-group-sm">
                                            <input type="text" class="form-control" id="buscarsalones" placeholder="Buscar por codigo o descripción" onkeyup="buscar_salones(this)">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="../../Script/librerias/jquery-3.4.1.slim.min.js"></script>
    <script src="../../Script/librerias/bootstrap.min.js"></script>
    <script src="../../Script/Librerias/moment.js"></script>
    <script src="../../Script/Librerias/jquery.easy-autocomplete.min.js"></script>    
    <script src="../../Script/Librerias/plugin-colegios.js"></script>
    <script src="../../Script/Formularios/Temporada.js"></script>
    <script src="../../Script/Formularios/Grados.js"></script>
    <script src="../../Script/Formularios/Cursos.js"></script>
    <script src="../../Script/Formularios/Salones.js"></script>
    <script>
        var options = {

            data: [
                { "name": "Afghanistan", "code": "AF" },
                { "name": "Aland Islands", "code": "AX" },
                { "name": "Albania", "code": "AL" },
                { "name": "Algeria", "code": "DZ" },
                { "name": "American Samoa", "code": "AS" },
                { "name": "Afghanistan", "code": "AF" },
                { "name": "Aland Islands", "code": "AX" },
                { "name": "Albania", "code": "AL" },
                { "name": "Algeria", "code": "DZ" },
                { "name": "American Samoa", "code": "AS" },
                { "name": "Afghanistan", "code": "AF" },
                { "name": "Aland Islands", "code": "AX" },
                { "name": "Albania", "code": "AL" },
                { "name": "Algeria", "code": "DZ" },
                { "name": "American Samoa", "code": "AS" },
                { "name": "Afghanistan", "code": "AF" },
                { "name": "Aland Islands", "code": "AX" },
                { "name": "Albania", "code": "AL" },
                { "name": "Algeria", "code": "DZ" },
                { "name": "American Samoa", "code": "AS" }
            ],

            getValue: "name",
            requestDelay: 500,
            placeholder: "buscar por a",
            list: {
                maxNumberOfElements: 10,

                match: {
                    enabled: true
                },

            }
        };
        //http://easyautocomplete.com/guide#sec-template-links
        $("#countries").easyAutocomplete(options);

    </script>


</body>
</html>