<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="es">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="description" content="comunicacion de colegios" />
    <meta name="author" content="Jhonnatan Andres Urueña Diaz" />
    <title>Inicio</title>
    <!--<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link href="../../Style/easy-autocomplete.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Style/bootstrap.css">
    <link href="../../Style/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="../../Style/estandar.css" rel="stylesheet" />
    <title>Grupos</title>
    <style>
        .modal-dialog {
            min-width: 800px;
        }

        .list-group {
            max-height: 150px;
            overflow: auto;
        }

            .list-group li {
                cursor: pointer;
            }
    </style>
</head>
<body>
    <div class="container  mt-2 ">

        <div class="row mb-2">
            <div class="col-12">
                <header class="card-header">Configuración de estudiantes</header>
            </div>
        </div>


        <div class="row">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-11 bg-white rounded">
                <div class="text-right">
                    <button type="button" onclick="abrir_modal_agregar()" class="btn btn-primary btn-sm"><i class="fas fa-user-check mr-1"></i>Crear estudiante</button>
                </div>
                <div class="col-12 order-lg-1 order-md-2 order-sm-2 order-2">
                    <table class="table table-hover table-sm mt-4">

                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Grupo</th>
                                <th scope="col">Estado</th>                                
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbltemporada"></tbody>
                        <tfoot class="bg-light">
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="../../Script/Librerias/jquery-3.5.0.min.js"></script>
    <script src="../../Script/Librerias/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="../../Script/Librerias/moment.js"></script>
    <script src="../../Script/Librerias/jquery.easy-autocomplete.min.js"></script>
    <script src="../../Script/Librerias/jquery.floatThead.js"></script>

    <script src="../../Script/Librerias/plugin-colegios.js"></script>
    <script src="../../Script/estudiantes/estudiantes.js"></script>
</body>
</html>