<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="es">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="description" content="comunicacion de colegios" />
    <meta name="author" content="Jhonnatan Andres Urueña Diaz" />
    <title>Inicio</title>
    <!--<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">-->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link href="../../Style/easy-autocomplete.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Style/bootstrap.css">
    <link href="../../Style/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="../../Style/estandar.css" rel="stylesheet" />
    <title>Grupos</title>
    <style>
        .modal-dialog {
            min-width: 800px;
        }
        
        .list-group {
            max-height: 150px;
            overflow: auto;
        }
        
        .list-group li {
            cursor: pointer;
        }
        
        .input-group-append button {
            padding: 0px 13px;
            height: 32px;
        }
        
        select {
            height: 29px !important;
            width: 150px !important;
        }
    </style>
</head>

<body>
    <div class="container-fluid mt-2 ">

        <div class="row mb-2">
            <div class="col-12">
                <header class="card-header">Configuración de estudiantes</header>
            </div>
        </div>


        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-11 bg-white rounded">
                <div class="d-md-flex justify-content-between d-block">

                    <div class="input-group col-md-6 col-12">
                        <label class="mt-2 mr-1">Buscar estudiante</label>
                        <input onkeyup="buscar_estudiantes(this)" style="height: 32px;" class="form-control py-2" type="search" placeholder="buscar estudiante" id="example-search-input">
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>

                    <div class="col-12 col-md-4 text-right">
                        <div class="w-100">
                            <button type="button" onclick="abrir_modal_agregar()" class="btn btn-primary btn-sm"><i class="fas fa-user-check mr-1"></i>Crear estudiante</button>
                        </div>
                    </div>
                </div>



                <div class="col-12 order-lg-1 order-md-2 order-sm-2 order-2">
                    <table class="table table-hover table-sm mt-4">

                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Grupo</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody id="tbltemporada"></tbody>
                        <tfoot class="bg-light">
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modalEliminar" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar estudiante</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <label id="h6Eliminar"></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary  btn-sm" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary  btn-sm" onclick="confirmar_eliminar()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../../Script/Librerias/jquery-3.5.0.min.js"></script>
    <script src="../../Script/Librerias/popper.min.js"></script>
    <script src="../../Script/Librerias/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="../../Script/Librerias/moment.js"></script>
    <script src="../../Script/Librerias/jquery.easy-autocomplete.min.js"></script>
    <script src="../../Script/Librerias/jquery.floatThead.js"></script>

    <script src="../../Script/Librerias/plugin-colegios.js"></script>
    <script src="../../Script/estudiantes/estudiantes.js"></script>
</body>

</html>