.custom-file-input ~ .custom-file-label::after {
    display: none;
}

input[type=file] {
    cursor: pointer;
}

.card-body img {
    width: 30px;
}

.card-title {
    cursor: pointer;
    font-size: 0.8rem;
}

.card-body {
    padding: .5rem;
}

button.close {
    margin-top: 3px;
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}
