body, input, select {
    font-size: 12px !important;
}

i {
    cursor: pointer;
}


.custom-control-label {
    padding-top: 3px;
}

.estudiante, .profesor {
    display: none;
}

.floatThead-table {
    background: white;
}


[contenteditable=true] {
    outline: none;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid transparent;
}

    [contenteditable=true]:focus, [contenteditable=true]:active {
        border-bottom: 1px solid #369;
    }

.table th, .table td {
    padding: 2px 5px 0 5px;
}


/*.easy-autocomplete input {
    width: 180px;
}*/

.floatThead-container {
    z-index: 1 !important;
}

.btn-icono {
    background-color: transparent;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border-width: 0;
    outline: none;
}

    .btn-icono:focus {
        outline: none;
    }

    .btn-icono:active {
        outline: none;
    }

    .btn-icono:hover {
        background-color: #ebebeb !important;
    }

        .btn-icono:hover i {
            /*color: buttonface;*/
        }

    .btn-icono i {
        font-size: 13px;
    }


.icon-tab {
    font-size: 17px;
    color: #666;
}

