<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="es">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="description" content="comunicacion de colegios" />
    <meta name="author" content="Jhonnatan Andres Urueña Diaz" />
    <title>Inicio</title>

    <link href="../../Style/bootstrap.css" rel="stylesheet">
    <link href="../../Style/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="../../Style/Login/menu.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="../../Style/estandar.css" rel="stylesheet" />
</head>

<body>

    <!--========== HEADER ==========-->
    <header class="header">
        <div class="header__container">
            <h4 href="#" class="header__logo name-empresa"></h4>
			<img id="MenuImgLogoColegio" src="" alt="logo"/>
            <div class="d-flex align-items-center">
                <div>
                    <h4 class="mr-2" id="userInfo"></h4>
                </div>
                <div>
                    <img style="width:53px" src="../../Img/logo.png" alt="logo" />
                </div>
            </div>



            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>
        </div>
    </header>


    <!--========== NAV ==========-->
    <div class="nav" id="navbar">
        <nav class="nav__container">
            <div>
                <a href="#" class="nav__link nav__logo">
                    <i class='fas fa-bars nav__icon'></i>
                    <span class="nav__logo-name name-empresa"></span>
                </a>

                <div class="nav__list" id="lstOpciones">
                    <div class="nav__items" id="opciones_menu">
                    </div>

                    <div class="nav__items">
                        <h3 class="nav__subtitle">Perfil</h3>
                        <a href="#"  class="nav__link active MenuPerfil" onclick="actualizar_datos(this)">
                            <i class='fas fa-user-circle nav__icon'></i>
                            <span class="nav__name">Actualizar datos</span>
                        </a>
                        <a href="#" class="nav__link active" onclick="cambiar_clave(this)">
                            <i class='fas fa-user-lock nav__icon'></i>
                            <span class="nav__name">Cambiar clave</span>
                        </a>
                    </div>


                </div>
            </div>


            <a href="#" class="nav__link nav__logout" onclick="cerrar_session_sin_error()">
                <i class='fas fa-power-off nav__icon'></i>
                <span class="nav__name">salir</span>
            </a>

        </nav>
    </div>

    <!--========== CONTENTS ==========-->
    <main>
        <div class="opcion-frame">
            <iframe id="framrePage" width="100%" title="Inline Frame Example" style="height: calc(100vh - 71px);" allowfullscreen="true" frameborder="0" src=""></iframe>
        </div>
    </main>







    <script src="../../Script/Librerias/jquery-3.5.0.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="../../Script/Librerias/bootstrap.min.js"></script>
    <script src="../../Script/Librerias/plugin-colegios.js"></script>

    <script src="../../Script/Librerias/sweetalert2@9.js"></script>
    <script src="../../Script/Login/menu.js"></script>
    <script>
        document.addEventListener('gesturestart', function(e) {
            e.preventDefault();
        });
        document.addEventListener('touchmove', function(event) {
            event = event.originalEvent || event;
            if (event.scale > 1) {
                event.preventDefault();
            }
        }, false);
    </script>
</body>

</html>