a {
    color: white;
    cursor: pointer;
}

.dropdown-toggle {
    cursor: pointer;
}

.navbar-toggler {
    border: 1px solid white;
}

a:hover {
    color: white;
}

.swal2-icon {
    font-size: 12px;
}

.swal2-title {
    font-size: 22px;
}

.nav-item {
    border-bottom: 1px solid #343a40;
}

    .nav-item:hover {
        border-bottom: 1px solid white;
    }

.active {
    border-bottom: 1px solid white;
}

.imgcontainer {
    border: 1px solid #6c757d;
    width: 46px;
    height: 46px;
    cursor: pointer;
    padding-left: 9px;
    padding-bottom: 5px;
    border-radius: 50%;
}

    .imgcontainer:hover {
        border: 1px solid #666666;
    }

        .imgcontainer:hover .fa-user {
            color: #666666;
        }

.logo-colegio {
    width: 120px;
    height: 51px;
}

.avatar {
}

.menu {
    width: 100%;
    height: calc(100vh - 69px);
    border: 1px solid #ebebeb;
    position: absolute;
    z-index: 9;
    display: none;
    background-color: white;
}


.opcion {
    cursor: pointer;
}

    .opcion:hover {
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
        background-color: #ebebeb;
    }

.menu-opcion-active {
    opacity: 0.5;
    /*background-color: #D8D8D8 !important;*/
}


.element-animation-show {
    animation: animationFramesshow ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    /* transform: translate(-100px, 0px); */
}

.element-animation-hide {
    animation: animationFrameshide ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    /* transform: translate(-100px, 0px); */
}

.fa-bars {
    color: #666666;
    font-size: 27px;
    cursor: pointer;
    padding-top: 5px;
}

.imgcontainer .fa-user {
    font-size: 29px;
}

.fixed-top {
    padding: 0 5px 0 5px;
}


@keyframes animationFrameshide {
    0% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    100% {
        opacity: 0;
        transform: translate(-1000px, 0px);
    }
}

@keyframes animationFramesshow {
    0% {
        opacity: 0;
        transform: translate(-1000px, 0px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
