<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="es">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="description" content="comunicacion de colegios" />
    <meta name="author" content="Jhonnatan Andres Urueña Diaz" />

    <title>Bandeja de entrada</title>

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet' />
    <link href="../../Style/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="../../Style/quill.snow.css" rel="stylesheet" />
    <link href="../../Style/estandar.css" rel="stylesheet" />
    <link href="../../Style/quill.snow.css" rel="stylesheet" />
    <link href="../../Style/Comunicados/BandejaEntradaV3.css" rel="stylesheet" />
    <link href="../../Style/bootstrap.css" rel="stylesheet" />

</head>

<body>
    <div class="container-fluid pl-0">
        <div class="w-100">
            <div class="bar-message">
                <div class="select-staff">
                    <div class="selected" onclick="ver_otras_bandejas()">
                        <span id="spnNombreBandeja"></span>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div id="ddlmsnBandeja" class="hidden-select">
                    </div>
                </div>

                <div id="btnEnviar" class="btn-round btn-green btn-add" onclick="nuevo_mensaje()">
                    <i class="fas fa-plus"></i>
                    <span class="text-btn">Nuevo Mensaje</span>
                </div>
                <div class="search-messages step-search">
                    <div class="search" id="search-general">
                        <input id="buscargrado" class="input-search" onfocus="focus_input_busqueda(this)" onkeyup="buscar_mensajes(this)" onblur="blur_input_busqueda(this)" max="30" type="text" placeholder="Buscar">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </div>
            <div class="d-flex w-100">
                <div class="menu-left">
                    <div class="content-menu">
                        <div class="box-menu">
                            <div class="active menu-op">
                                <div class="item-menu" onclick="cargar_bandeja('bandeja',this)">
                                    <div class="box-item">
                                        <div>
                                            <i class="far fa-envelope-open"></i>
                                        </div>
                                        <div class="label-item">
                                            <span>Recibidos</span>
                                            <span style="padding-left: calc(100% - 90px);" id="countNoLeidos"></span>
                                            <div class="unseen-item"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="menu-op">
                                <div class="item-menu " onclick="cargar_bandeja('Enviados',this)">
                                    <div class="box-item">
                                        <div>
                                            <i class="fas fa-share"></i>
                                        </div>
                                        <div class="label-item">
                                            <span>Enviados</span>
                                            <div class="unseen-item"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="menu-op d-none">
                                <div class="item-menu ">
                                    <div class="box-item" onclick="ver_destacados(this)">
                                        <div>
                                            <i class="far fa-star"></i>
                                        </div>
                                        <div class="label-item">
                                            <span>Destacados</span>
                                            <div class="unseen-item"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
                <div class="w-100" id="Bandejamensajes">
                    <div class="folder-empty d-none text-center" style=" border: 1px solid #ebebeb;border-radius: 10px;padding: 10px;box-shadow: 1px 1px 14px 0px #ebebeb;">
                        <img style="width:200px;margin-left: 8px;" id="MenuImgLogoColegio" src="" alt="logo" />
                        <span>Esta carpeta esta vacia</span>
                    </div>
                    <div class="messages-tm">
                        <table class="tab-panel">
                            <tbody id="tbodyDatos"></tbody>
                        </table>
                    </div>
                </div>

                <div id="mensaje" class="w-100 d-none">

                    <div class="messages-bar-tools-view d-flex align-items-center w-100">
                        <div class="item-actions has-tooltip" onclick="volver()">
                            <i class="fas fa-long-arrow-alt-left"></i>
                            <span class="tooltip tooltip-without-border" role="tooltip">Volver</span>
                        </div>
                        <div class="btn-round btn-green btn-responder" style="padding: 5px 20px !important" onclick="habilitar_responder()">
                            <span class="text-btn">
                                <i class="fas fa-envelope"></i>
                                Responder
                            </span>
                        </div>

                        <div class="btn-round btn-green btn-enviar d-none" style="padding: 5px 20px !important" onclick="enviar_mensaje(true)">
                            <span class="text-btn">
                                <i class="fas fa-paper-plane"></i>
                                Enviar
                            </span>
                        </div>


                    </div>

                    <div class="w-100">
                        <div id="mostrarMensaje"></div>


                        <div id="responderMensaje" class="d-none mt-2 w-100">
                            <div class="">
                                <div style="height:150px" id="responderMsnEditor"></div>
                            </div>
                        </div>

                    </div>

                </div>

                <div id="nuevo-mensaje" class="d-none w-100">
                    <div class="messages-bar-tools-view d-flex align-items-center w-100">
                        <div class="item-actions has-tooltip" onclick="volver()">
                            <i class="fas fa-long-arrow-alt-left"></i>
                            <span class="tooltip tooltip-without-border" role="tooltip">Volver</span>
                        </div>
                        <div class="btn-round btn-green" style="padding: 5px 20px !important" onclick="enviar_mensaje(false)">
                            <span class="text-btn">
                                <i class="fas fa-paper-plane"></i>
                                Enviar
                            </span>
                        </div>
                        <div class="btn-round btn-secondary" style="padding: 5px 20px !important" onclick="adjuntar(true)">
                            <span class="text-btn">
                                <i class="fas fa-paperclip"></i>
                                Adjuntar
                            </span>
                        </div>
                        <div class="d-none btn-bloquear-respuesta" style="padding: 5px 20px !important">
                            <div class="p-3">
                                <input type="checkbox" id="txtBloquearRespuesta">
                                <label for="customCheck1">Bloquear Respuesta</label>
                            </div>
                        </div>
                    </div>
                    <div class="rounded shadow-sm p-2">
                        <div class="col-lg-12">
                            <div class="pt-2 d-flex">
                                <div class="to" style="cursor:pointer" onclick="abrir_Destinatarios()">Para</div>
                                <div class="d-flex flex-wrap">
                                    <div class="d-flex flex-wrap">
                                        <div id="divDestinatarios">

                                        </div>
                                        <div placeholder="Seleccione los destinatarios..." style="cursor:pointer" class="ml-2 text-destinatario" onclick="abrir_Destinatarios()" id="DivBusqueda"></div>
                                    </div>

                                    <div class="resultado-destinatarios ml-2 mt-1 shadow-sm" id="DivResultados" style="display: none;"></div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 mt-2">

                            <div class="pt-2 d-flex">
                                <div class="to">Asunto</div>
                                <div>
                                    <div class="d-flex flex-wrap">

                                        <div placeholder="Seleccione los destinatarios..." contenteditable="true" class="ml-2 text-destinatario" id="MenAsunto"></div>
                                    </div>

                                    <div class="resultado-destinatarios ml-2 mt-1 shadow-sm" id="DivResultados" style="display: none;"></div>

                                </div>
                            </div>
                        </div>

                        <div class="col-12 mt-1">
                            <div id="DivAdjunto"></div>
                        </div>

                        <div class="col-12 mt-1">
                            <div id="editor"></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div id="modalDestinatario" class="modal-destinatario">
        <div class="modal-destinatario-header p-3">
            <div>
                <h5>Destinatarios</h5>
            </div>
            <div>
                <button type="button" onclick="cerrar_modal_destinatario()" class="btn-close" aria-label="Close">X</button>
            </div>
        </div>

        <div class="p-3" style="overflow:auto;height:calc(100vh - 162px)">
            <div id="cargando">
                <i class='bx bx-loader bx-spin  bx-md'></i>
            </div>
            <div id="RegistroPrincipal"></div>
            <div class="grupos-envio mt-3 border-top" id="EnvioGrupos"></div>
        </div>
    </div>

    <div class="d-none">
        <input type="file" id="myInput" onchange="subirAdjunto()" />
    </div>
    <script src="../../Script/Librerias/jquery-3.5.0.min.js"></script>
    <script src="../../Script/Librerias/sweetalert2@9.js"></script>
    <script src="../../Script/Librerias/popper.js"></script>
    <script src="../../Script/Librerias/bootstrap.min.js"></script>
    <script src="../../Script/Librerias/jquery.floatThead.js"></script>
    <script src="../../Script/Librerias/moment.js"></script>
    <script src="../../Script/Librerias/quill.min.js"></script>
    <script src="../../Script/Librerias/plugin-colegios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.11.0/underscore-min.js"></script>
    <script src="../../Script/Comunicados/Bandejaentradav3.js"></script>

</body>

</html>