<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <link href="../../Style/easy-autocomplete.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Style/bootstrap.css">
    <link href="../../Style/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="../../Style/estandar.css" rel="stylesheet" />

    <style>
        /*tbody input {
            width: 180px !important;
        }*/
    </style>
</head>
<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <header class="card-header">Creación de clases</header>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="d-flex mt-3 justify-content-center">
                    <label class="pt-1" for="exampleFormControlInput1">Grado</label>
                    <div class="col-5">
                        <select onchange="selected_grado()" class="form-control ml-2" id="ddlGrados"></select>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </div>

    <script src="../../Script/Librerias/jquery-3.5.0.min.js"></script>
    <script src="../../Script/librerias/bootstrap.min.js"></script>
    <script src="../../Script/Librerias/moment.js"></script>
    <script src="../../Script/Librerias/jquery.easy-autocomplete.min.js"></script>
    <script src="../../Script/Librerias/jquery.floatThead.js"></script>
    <script src="../../Script/Librerias/plugin-colegios.js"></script>
    <script src="../../Script/Clases/clases.js"></script>
</body>

</html>




