<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
    <link href="../../Style/easy-autocomplete.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Style/bootstrap.css">
    <link href="../../Style/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="../../Style/estandar.css" rel="stylesheet" />

    <style>
        .input-autocomplete {
            outline: none;
            border: none;
            background: none;
        }

            .input-autocomplete:focus {
                border-bottom: 1px solid #369;
            }
    </style>
</head>
<body>
    <div class="container">
        <!--<div class="row mb-2">
            <div class="col-12">
                <header class="card-header">Asignación cursos a estudiantes</header>
            </div>
        </div>-->
        <!--<div class="row mt-2">
            <div class="col-12">
                <label>Los estudiantes se asignaran al curso</label>
                <strong> <label id="nombrecurso"></label></strong>
            </div>
        </div>-->
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
                <label>Estudiantes sin asignar</label>
                <div>
                    <span>Filtro de búsqueda</span>
                    <div class="autocomplete input-group-sm">
                        <input type="text" class="form-control" id="buscargrado" placeholder="Buscar estudiante" onkeyup="buscar_Estudiante(this)">
                        <!--<i class="fas fa-search"></i>-->
                    </div>
                </div>
                <div class="list-group" id="estudiantes_sin_asignar">
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
                <label>Estudiantes inscritos en el curso</label>
                <div class="list-group" id="estudiantes_asignados">
                </div>
            </div>
        </div>
    </div>

    <script src="../../Script/Librerias/jquery-3.5.0.min.js"></script>
    <script src="../../Script/librerias/bootstrap.min.js"></script>
    <script src="../../Script/Librerias/sweetalert2@9.js"></script>
    <script src="../../Script/Librerias/moment.js"></script>
    <script src="../../Script/Librerias/jquery.easy-autocomplete.min.js"></script>
    <script src="../../Script/Librerias/jquery.floatThead.js"></script>
    <script src="../../Script/Librerias/plugin-colegios.js"></script>
    <script src="../../Script/Cursos/CursoEstudiante.js"></script>
</body>
</html>