<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="login.html">
    </location>
    <system.webServer>
    
        <defaultDocument>
            <files>
                <remove value="index.html" />
                <remove value="index.htm" />
                <add value="loginCC.html" />
            </files>
        </defaultDocument>
    </system.webServer>
    <location path="web.config">
        <system.webServer>
            <defaultDocument enabled="true" />
        </system.webServer>
    </location>
</configuration>
